.hexFormat {
  color: white;
  font-size: 250px;
  width: 80%;
  margin: 0 auto;
  border: solid;
  border-width: thick;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'VT323', monospace;
  /* font-family: 'Gloria Hallelujah', cursive; */
  box-shadow: 10px 10px 10px 5px red;
}

.divBackColor {
  background-color: black;
}

.container {
  width: auto;
}

@media only screen and (max-width: 900px) {
  .hexFormat {
  color: white;
  font-size: 200px;
  border: solid;
  border-width: thick;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'VT323', monospace;
  }
}

@media only screen and (max-width: 750px) {
  .hexFormat {
  color: white;
  font-size: 100px;
  border: solid;
  border-width: thick;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'VT323', monospace;
  }
}

@media only screen and (max-width: 400px) {
  .hexFormat {
  color: white;
  font-size: 50px;
  border: solid;
  border-width: thick;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'VT323', monospace;
  }
}
